<app-dialog-header (closeClick)="close()">Ingresar Datos de Acceso</app-dialog-header>
<app-dialog-content>
    <div class="py-2 px-3">
        <p class="text-sm bg-red-200 text-justify p-3 italic rounded"><span class="font-bold">Nota:
            </span>El registro de datos en este formulario es solo para las personas residentes en la zona de influencia
            de la Unidad Minera de San Rafael - MINSUR.
        </p>
    </div>
    <form [formGroup]="formGroup" class="py-1 px-3" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Tipo de Documento</mat-label>
                <mat-select formControlName="docTypeId" placeholder="-- Seleccionar --">
                    @for(item of dataSourceDocumentType; track item){
                    <mat-option [value]="item.id">{{item.text}}</mat-option>}
                </mat-select>
                @if (formGroup.get('docTypeId')?.hasError('required')) {
                <mat-error>Requerido</mat-error>}
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Número de Documento</mat-label>
                <input matInput type="text" formControlName="numdoc" onlyNumbers [maxLength]="20">
                @if(formGroup.get('numdoc')?.hasError('required')) {
                <mat-error>Requerido</mat-error>}
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Primer Nombre</mat-label>
                <input matInput type="text" formControlName="firstName">
                @if(formGroup.get('firstName')?.hasError('required')) {
                <mat-error>Requerido</mat-error>}
                @if(formGroup.get('firstName')?.hasError('maxlength')) {
                <mat-error>{{getMaxLengthErrorMessage('firstName')}}</mat-error>}
            </mat-form-field>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Segundo Nombre</mat-label>
                <input matInput type="text" formControlName="middleName">
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Apellido Paterno</mat-label>
                <input matInput type="text" formControlName="lastPatName">
                @if(formGroup.get('lastPatName')?.hasError('required')) {
                <mat-error>Requerido</mat-error>}
                @if(formGroup.get('lastPatName')?.hasError('maxlength')) {
                <mat-error>{{getMaxLengthErrorMessage('lastPatName')}}</mat-error>}
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Apellido Materno</mat-label>
                <input matInput type="text" formControlName="lastMatName">
                @if(formGroup.get('lastMatName')?.hasError('required')) {
                <mat-error>Requerido</mat-error>}
                @if(formGroup.get('lastMatName')?.hasError('maxlength')) {
                <mat-error>{{getMaxLengthErrorMessage('lastMatName')}}</mat-error>}
            </mat-form-field>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Género</mat-label>
                <mat-select formControlName="genderId" placeholder="-- Seleccionar --">
                    @for(item of dataSourceGender; track item){
                    <mat-option [value]="item.id">{{item.text}}</mat-option>}
                </mat-select>
                @if(formGroup.get('genderId')?.hasError('required')) {
                <mat-error>Requerido</mat-error>}
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input placeholder="DD/MM/YYYY" appInputMask matInput [matDatepicker]="picker"
                    formControlName="birthDate">
                @if(formGroup.get('birthDate')?.hasError('required')) {
                <mat-error>Requerido</mat-error>}
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput type="text" formControlName="email">
                @if (formGroup.get('email')?.hasError('required')) {
                <mat-error>Requerido</mat-error>}
                @if (formGroup.get('email')?.hasError('pattern')) {
                <mat-error>Correo electrónico no válido</mat-error>}
                @if (formGroup.get('email')?.hasError('maxlength')) {
                <mat-error>{{getMaxLengthErrorMessage('email')}}</mat-error>}
            </mat-form-field>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Distrito/Comunidad</mat-label>
                <input matInput type="text" formControlName="level4Name">
                @if(formGroup.get('level4Name')?.hasError('required')) {
                <mat-error>Requerido</mat-error>}
                @if(formGroup.get('level4Name')?.hasError('maxlength')) {
                <mat-error>{{getMaxLengthErrorMessage('level4Name')}}</mat-error>}
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Nro de celular</mat-label>
                <input matInput type="text" formControlName="phoneNumber" onlyNumbers>
                @if(formGroup.get('phoneNumber')?.hasError('required')) {
                <mat-error>Requerido</mat-error>}
                @if(formGroup.get('phoneNumber')?.hasError('minlength')) {
                <mat-error>{{getMinLengthErrorMessage('phoneNumber')}}</mat-error>}
                @if(formGroup.get('phoneNumber')?.hasError('maxlength')) {
                <mat-error>{{getMaxLengthErrorMessage('phoneNumber')}}</mat-error>}
            </mat-form-field>
        </div>
        <div class="grid grid-cols-1 gap-4 mt-2">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Comentarios</mat-label>
                <textarea matInput rows="5" formControlName="comment"></textarea>
                @if (formGroup.get('comment')?.hasError('maxlength')) {
                <mat-error>{{getMaxLengthErrorMessage('comment')}}</mat-error>}
            </mat-form-field>
        </div>
        <button type="submit" #submitButton hidden></button>
    </form>
</app-dialog-content>
<app-dialog-actions>
    <button mat-flat-button (click)="submitButton.click()" class="mr-2 btn-principal">REGISTRAR</button>
    <button mat-stroked-button [mat-dialog-close]="null">CANCELAR</button>
</app-dialog-actions>