<app-dialog-header (closeClick)="close()">Verificación del DNI</app-dialog-header>
<div class="card card-absolute">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="DNI Azul">
            <div class="border border-gray-300 rounded-lg p-4">
                <img class="w-full rounded-2xl" src="../../../../../../../assets/images/dni_azul.jpeg" alt="dni" />
            </div>
        </mat-tab>
        <mat-tab label="DNI Electrónico">
            <div class="border border-gray-300 rounded-lg p-4">
                <img class="w-full rounded-2xl" src="../../../../../../../assets/images/dni_electronico.jpeg"
                    alt="dniE" />
            </div>
        </mat-tab>
    </mat-tab-group>
</div>