<form class="py-5 px-3" [formGroup]="personDataFormGroup">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Apellido Paterno</mat-label>
            <input type="text" [maxLength]="80" matInput formControlName="lastPatName" />
            @if (personDataFormGroup.get('lastPatName')?.hasError('required')) {
            <mat-error>Ingresa tu apellido Paterno</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Apellido Materno</mat-label>
            @if (personDataFormGroup.get('lastMatName')?.hasError('required')) {
            <mat-error>Ingresa tu apellido materno</mat-error>
            }
            <input type="text" [maxLength]="80" matInput formControlName="lastMatName" />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Primer Nombre</mat-label>
            <input type="text" [maxLength]="80" matInput formControlName="firstName" />
            @if (personDataFormGroup.get('firstName')?.hasError('required')) {
            <mat-error>Ingresa tu nombre</mat-error>
            }
        </mat-form-field>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-2">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Segundo Nombre</mat-label>
            <input type="text" [maxLength]="80" matInput formControlName="middleName" />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select formControlName="docTypeId" placeholder="-- Seleccionar --">
                @for(item of documentTypes(); track item){
                <mat-option [value]="item.id">{{item.text}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Número de documento</mat-label>
            <input type="text" [maxLength]="80" matInput formControlName="numdoc" />
        </mat-form-field>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-2">
        <mat-form-field appearance="outline">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput placeholder="DD/MM/YYYY" [matDatepicker]="picker" formControlName="birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Estado Civil</mat-label>
            <mat-select formControlName="civilStatusId" placeholder="-- Seleccionar --">
                @for(item of civilStates(); track item){
                <mat-option [value]="item.id">{{ item.text}}</mat-option>
                }
            </mat-select>
            @if(personDataFormGroup.get('civilStatusId')?.hasError('required')){
            <mat-error>Seleccina un estado civil</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="genderId" placeholder="-- Seleccionar --">
                @for(item of genders(); track item){
                <mat-option [value]="item.id">{{ item.text}}</mat-option>
                }
            </mat-select>
            @if(personDataFormGroup.get('genderId')?.hasError('required')){
            <mat-error>Seleccina un género</mat-error>
            }
        </mat-form-field>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-2">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Teléfono Celular</mat-label>
            <input type="text" [maxLength]="80" [maxLength]="9" [minlength]="9" onlyNumbers pattern="9.*" matInput
                formControlName="phoneNumber" />
            @if(personDataFormGroup.get('phoneNumber')?.hasError('required')){
            <mat-error>Ingresa tu número de celular</mat-error>
            }
            @if(personDataFormGroup.get('phoneNumber')?.hasError('pattern')){
            <mat-error>El número de celular debe comenzar con 9</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Brevete</mat-label>
            <input type="text" [maxLength]="80" matInput formControlName="licenceNumber" />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Categoría de Brevete</mat-label>
            <mat-select formControlName="licenceTypeId" placeholder="-- Seleccionar --">
                @for(item of licenseDrives(); track item){
                <mat-option [value]="item.id">{{item.text}}</mat-option>
                }
            </mat-select>
            @if(personDataFormGroup.get('licenceTypeId')?.hasError('required')){
            <mat-error>Seleccina una categoría de brevete</mat-error>
            }
        </mat-form-field>
    </div>
    <div class="grid grid-cols-1 gap-4 mt-2">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput type="text" formControlName="email" [maxLength]="80">
            @if(personDataFormGroup.get('email')?.hasError('required')){
            <mat-error>Ingresa tu correo electrónico</mat-error>
            }
            @if(personDataFormGroup.get('email')?.hasError('pattern')){
            <mat-error>Correo electrónico no válido</mat-error>
            }
        </mat-form-field>
    </div>
    <button mat-raised-button class="btn-principal w-full lg:w-2/12 mt-2" (click)="updateInfoPersona()">
        <mat-icon>save</mat-icon> Grabar
    </button>
</form>